*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

:root {
    /* colors */
    --background-clr-dark: black;
    --background-clr-light: white;
    --text-clr-dark: white;
    --text-clr-light: black;

    /* font-families */
    --header-nav-font: "Barlow", sans-serif;
}

body {
    background-color: var(--background-clr-light);
    color: var(--text-clr-light);
    overflow-x: hidden;
    margin: 0;
    font-family: San-Francisco, Helvetica, Arial, Georgia, Tahoma, sans-serif;
    background-image: linear-gradient(45deg, white, #cacaca, white);
}

.heading {
    text-align: center;
    margin: 1rem;
}

/* styling the contact pop up form*/
.pop-ups {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cancel-form {
    position: absolute;
    top: 1.5rem;
    left: 5%;
    transition: 0.4s ease-in-out;
}

.cancel-form a {
    display: flex;
    text-decoration: none;
    color: black;
}

.cancel-form a:hover {
    cursor: pointer;
    color: #5badcc;
}

.contact-pop-up .container {
    position: relative;
    width: 90vw;
    height: 85vh;
    background-color: white;
    box-shadow: 15px 20px 15px #5557;
    border-radius: 15px;
    overflow: hidden;
}

.contact-pop-up .container button {
    padding: 10px;
}

.contact-pop-up .form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.contact-pop-up .E-mail-container {
    opacity: 0;
    z-index: 1;
}

.contact-pop-up .whatsApp-call-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.contact-pop-up .whatsApp-call-container .infield {
    background-color: #f3f3f3;
    padding: 10px;
}

.contact-pop-up form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

.contact-pop-up .social-container {
    margin: 20px 0px;
}

.contact-pop-up .social-container a {
    border: 1px solid black;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    transition: 0.4s ease-in-out;
}

.contact-pop-up .social-container a:hover {
    color: #5badcc;
    border:1px solid #5badcc;
}

.contact-pop-up .infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

.contact-pop-up input {
    width: 100%;
    padding: 12px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

.contact-pop-up textarea {
    width: 100%;
    padding: 12px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

.contact-pop-up label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    width: 0%;
    height: 2px;
    background: #2e3c47;
    transition: 0.8s;
}

.contact-pop-up input:focus ~ label {
    width: 100%;
}

.contact-pop-up .overlay-container {
    position: absolute;
    top: 0;
    left: 60%;
    width: 37%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
} 

.contact-pop-up .overlayBtn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    width: 143px;
    height: 40px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    border-radius: 20px;
    transition: 0.6s ease-in-out;
}

.contact-pop-up .overlayBtn:hover {
    color: #5badcc;
    border: 1px solid #5badcc;
    font-size: 17px;
}

.contact-pop-up .overlay {
    position: relative; 
    background-image: linear-gradient(180deg, #2e3c47, #2f3d48, #364856, #448197, #607d94);
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.contact-pop-up .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.contact-pop-up .overlay-left {
    right: 63%;
    transform: translateX(-12%);
}

.contact-pop-up .overlay-right {
    right: 0;
    transform: translateX(-24%);
}

.contact-pop-up .right-panel-active .overlay-container {
    transform: translateX(-150%);
}

.contact-pop-up .right-panel-active .overlay{
    transform: translateX(50%);
}

.contact-pop-up .right-panel-active .overlay-left {
    transform: translateX(25%);
}

.contact-pop-up .right-panel-active .overlay-right {
    transform: translateX(35%);
}

.contact-pop-up .right-panel-active .whatsApp-call-container {
    transform: translateX(20%);
    opacity: 0;
}

.contact-pop-up .right-panel-active .E-mail-container {
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 50% {
        opacity: 1;
        z-index: 5;
    }
    50.1%, 100% {
        opacity: 1;
        z-index: 5;
    }      
}

/* styling the buttons */
.project-buttons button {
    border-radius: 3px;
    padding: 3px;
    margin: 4px 0px;
    border: 0px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    position: relative;
    overflow: hidden;
} 

.project-buttons button:hover {
    cursor: pointer;
    color: #5badcc;
}

.project-buttons button::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(30deg) translateX(250px);
    transition: 1s;
}

.project-buttons button:hover::before {
    transform: skewX(30deg) translateX(-150px); 
}