*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

:root {
    /* colors */
    --background-clr-dark: black;
    --background-clr-light: white;
    --text-clr-dark: white;
    --text-clr-light: black;

    /* font-families */
    --header-nav-font: "Barlow", sans-serif;
}

body {
    background-color: var(--background-clr-light);
    color: var(--text-clr-light);
    overflow-x: hidden;
    margin: 0;
    font-family: San-Francisco, Helvetica, Arial, Georgia, Tahoma, sans-serif;
    
}

main {
    padding-top: 100px;
    padding-bottom: 80px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/*main div {
    width: 90vw;
    margin: auto;
}*/

.heading {
    text-align: center;
    margin: 1rem;
}

.contact-pop-up .social-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-pop-up .social-container a {
    border: 1px solid black;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    transition: 0.4s ease-in-out;
}

.contact-pop-up .social-container a:hover {
    color: #5badcc;
    border:1px solid #5badcc;
}

.contact-pop-up .infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

.contact-pop-up input {
    width: 100%;
    padding: 12px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

.contact-pop-up textarea {
    width: 100%;
    padding: 12px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

.contact-pop-up label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    width: 0%;
    height: 2px;
    background: #2e3c47;
    transition: 0.8s;
}

.contact-pop-up input:focus ~ label {
    width: 100%;
}

.email-btn {
    width: 100%;
    text-align: center;
}

.email-btn button{
    margin:20px 0px;
    padding: 15px;
    font-size: 20px;
    border-radius: 0px;
    width: 216px;
}

.form-container #form {
    animation-name: formFade;
    animation-duration: 2s;
}

@keyframes formFade {
    from {opacity: .0}
    to {opacity: 1}
}

/*styling the email error messages*/
.form-container #form div span {
    color: burlywood;
    margin-left: 10px;
}

/*styling the email successful-form-popup*/
.successful-form-popup {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from {opacity: .0}
    to {opacity: 1}
}

.form-container .successful-form-popup .successful-form-icorn{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form-container .successful-form-popup .successful-form-icorn img{
    max-height: 300px;
}
